.level-one-ring {
	fill:none;
	stroke: grey;
	stroke-dasharray: 1,2;
}

.main-circle {
	fill:slategray;
}

.main-circle-outline {
	fill:white;
	stroke:slategray;
}

.level-one-circle {
}

.level-one-circle-outline {
	fill:white;
	stroke:gray;
}

.level-two-circle-outline {
	fill:white;
}

.links {
	stroke:grey;
}

.level-two-links {
	stroke:#aaa;
}

.level-two-arc {
	stroke:grey;
	stroke-dasharray: 1,2;
	fill:none;
}

.text-level-one {
	font-family:tahoma;
	font-size:11px;
	text-transform:uppercase;
	fill:slategray;
}

.text-level-two {
	font-family:tahoma;
	font-size:8px;
	fill:grey;
	alignment-baseline: middle;
}

.text-legend {
	font-family:tahoma;
	font-size:8px;
	fill:grey;
	text-transform:uppercase;
	alignment-baseline: central;
}

.tick text {
	fill:grey;
}

.tick line {
	stroke:grey;
	shape-rendering:crispEdges;
}

.domain {
	stroke:grey;
	shape-rendering:crispEdges;
}

.circle-legend {
	stroke:grey;
	fill:lightgrey;
	fill-opacity:.2;
	stroke-opacity:.7;
}

.text-main {
	font-family:tahoma;
	font-size:18px;
	fill:white;
	alignment-baseline:central;
	text-anchor:middle;
}

.line-legend {
	stroke:#aaa;
	stroke-dasharray:2,2;
	shape-rendering:crispEdges;
}

.text-x-legend {
	font-family:sans-serif;
	font-size:8px;
	fill:#aaa;
	text-transform:uppercase;
	alignment-baseline:central;
	text-anchor:middle;
}
